body {
	@include fontText($fontUbuntu, $fw400, $fs16, $lh185, $textGrayColor);
}

.container {
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 10px;
}


.title {

	color: $textTitleColor;
	font-size: $fs46;
	line-height: $lh130;
	font-weight: $fw700;
	text-align: center;
	padding-bottom: 25px;
}

.subtitle {
	text-align: center;
	font-size: $fs18;
	line-height: $lh150;
	color: $textGrayColor;
}