// colors

$textTitleColor: rgb(30, 33, 44);
$textGrayColor: rgb(120, 122, 128);;
$accentColor: rgb(255, 90, 48);

$headerGrayColor: rgb(66, 69, 81);
$headerTextWhiteColor: rgb(255, 255, 255);




// gap

$g40: 40px;
$g90: 90px;


// padding btn

$p15p40: 17px 40px;
$p14p39: 16px 39px;


// font size

$fs14: 14px;
$fs16: 16px;
$fs18: 18px;
$fs20: 20px;
$fs30: 30px;
$fs46: 46px;
$fs72: 72px;

// line height 

$lh52px: 52px;
$lh130: 130%;
$lh150: 150%;
$lh160: 160%;
$lh185: 185%;


// font-weight

$fw700:700;
$fw400:400;

// font-family

$fontUbuntu: "Ubuntu", sans-serif;
$fontLato: "Lato", sans-serif;
